%h1 Екип

%p
  Това е екипът зад курса #{@course_name}. За да се свържете с нас, може да ни
  пишете на #{mail_to @course_email}.

%ul.users
  - @teachers.each do |teacher|
    %li
      = link_to teacher do
        = user_thumbnail teacher
        = teacher.name
